.sidenav {
    width: 250px;
    height: 100vh; 
    transition: width 0.3s, font-size 0.3s;
    top: 50px;
}

.sidenav.open {
    display: block;
    width: 100%; /* Занимает всю ширину экрана на мобильных устройствах */
}

.sidenav.collapsed {
    width: 120px;
}

.sidenav.collapsed .nav-link span {
    display: none; /* Скрываем текст, оставляем только иконки */
}

.sidenav.collapsed .nav-link {
    text-align: center; /* Центрируем иконки */
}

.content {
    flex-grow: 1;
}

.header {
    padding: 0.5rem 1rem;
}

.header .btn {
    padding: 0.25rem 0.5rem;
}

/* Новый стиль для кнопок */
.btn-white {
    color: black; /* Цвет текста */
    transition: background-color 0.3s; /* Плавный переход */
}

.btn-white:hover {
    background-color: #f0f0f0; /* Легкое затемнение при наведении */
    color: black;
}

.btn-active {
    background-color: #d9d9d9; /* Светло-серый цвет для активной кнопки */
    color: black;
}

/* Стили для ссылок в sidenav */
.nav-link {
    display: block; /* Стилизация как кнопка */
    padding: 10px; /* Отступы для кнопок */
    border-radius: 0.25rem; /* Закругленные углы */
    text-decoration: none; /* Убираем подчеркивание */
}

.nav-item {
    margin-bottom: 5px; /* Устанавливаем маленький отступ между кнопками */
}

@media (min-width: 992px) {
    .sidenav {
        width: 250px;
        transition: width 0.3s;
        top: 56px;
    }
    .sidenav.collapsed {
        width: 110px;
    }
    .sidenav ul {
        padding-left: 0;
    }
    .sidenav.collapsed ul .nav-link {
        text-align: center;
        padding-left: 0;
    }
    .sidenav.collapsed ul .nav-link img {
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    .sidenav {
        left: -250px; /* Скрыто по умолчанию */
        transition: left 0.3s ease; /* Плавная анимация */
        top:56px;
    }
    .sidenav.open {
        left: 0; /* Выдвигаем меню на мобильных устройствах */
    }
}
