.sidenav {
    width: 280px;
    height: 100vh; /* Растягиваем меню на всю высоту страницы */
    transition: width 0.3s, font-size 0.3s;
}

/* При сворачивании меню */
.sidenav.collapsed {
    width: 80px;
}

.sidenav.collapsed .nav-link span {
    display: none; /* Скрываем текст, оставляем только иконки */
}

.sidenav.collapsed .nav-link {
    text-align: center; /* Центрируем иконки */
}

/* Контент, который растягивается при сворачивании */
.content {
    flex-grow: 1;
}

.header {
    padding: 0.5rem 1rem;
}

.header .btn {
    padding: 0.25rem 0.5rem;
}