*{
    padding: 0;
    margin: 0;
    
}
body{
    background: url("samurai-fone.jpg") no-repeat center center fixed;
    color: white;
    font-family: cursive;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
}

/* Logo */
.Logo {
    /* display: flex; */
    /* position: fixed; */
    /* z-index: 2; */
    /* position:relative;
    vertical-align:center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 160px;
    height: 30px;
    margin-left: 60px;
    margin-top: 5px;
    padding: 7px;
    border-radius: 15px;
    top: 0; /* Добавлено значение top */
    cursor: pointer;  
    width: 160px;
    height: 30px;
    margin-left: 60px;
}

/* Icon sidenav - sidenav.closed */
#fold {
    background-color: transparent;
    z-index: 2;
    position: fixed;
    /* background-image: url(menu.png); */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    top: 0;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    cursor: pointer;
    .menu-image{
        background: none;
        width: 30px;
        height: 30px;
        margin-top: 1px;
    }
}

#fold:hover {
    background-color: rgba(0, 0, 0, 0.25); /* Затемнение при наведении */
    
}

/* Login form */
#login, #register {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 400px;
    height: 450px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}
.login h1{
    display:grid;
    font-size: 40px;
    padding-top: 40px;
}
.input-field i{
    position: absolute;
    margin-left: -40px;
    margin-top: 45px;
}
.input-field input{
    margin-top: 35px;
    width: 300px;
    height: 35px;
    color: white;
    
    font-size: 20px;
    border-radius: 25px;
    padding-left: 10px;
    background: none;
    border: 2px solid rgba(255, 255, 255, .2);
}
.input-field input::placeholder{
    color: white;
}
.information{
    justify-content:space-between;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.information a{
    text-decoration: none;
    color:white;
}
.login-confirm input{
    margin-top: 20px;
    width: 325px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: 2px solid rgba(255, 255, 255, .2);
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    font-size: 25px;
}
.go-register input{
    margin-top: 15px;
    width: 325px;
    height: 37px;
    border-radius: 25px;
    color: black;
    background: lightcyan ;
    border: 2px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 25px;
}

/* Register form */
#register {
    display: none;
} 
.register h1{
    display:grid;
    font-size: 40px;
    padding-top: 40px;
}
.input-field i{
    position: absolute;
    margin-left: -40px;
    margin-top: 45px;
}
.input-field input{
    margin-top: 35px;
    width: 300px;
    height: 35px;
    color: white;
    
    font-size: 20px;
    border-radius: 25px;
    padding-left: 10px;
    background: none;
    border: 2px solid rgba(255, 255, 255, .2);
}
.input-field input::placeholder{
    color: white;
}
.information{
    justify-content:space-between;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.information a{
    text-decoration: none;
}
.register-confirm input{
    margin-top: 20px;
    width: 325px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: 2px solid rgba(255, 255, 255, .2);
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    font-size: 25px;
}
.go-login input{
    margin-top: 15px;
    width: 325px;
    height: 37px;
    border-radius: 25px;
    color: black;
    background: lightcyan ;
    border: 2px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 25px;
}

/* Fixed sidenav, full height */
.sidenav {
    margin-top: 62px;
    height: 100%;
    width: 165px;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-top: 0px;
    border-left: 0px;
    backdrop-filter: blur(20px);
    overflow-x: hidden;
    /* padding-top: 50px; */
    position: fixed;
    transition: width 0.5s ease-in-out, padding-left 0.5s ease-in-out;
    }
    
.home-image, .anime-image, .catalog-image, .announcement-image, .top100-image, .shuffle-image, .community-image{
    height: 30px;
    width: 30px;
    position:relative;
    vertical-align:middle;
}


.home-text, .anime-text, .catalog-text, .announcement-text, .top100-text, .shuffle-text, .community-text{
    position:relative;
    vertical-align: middle;
}

    .sidenav-closed {
        width: 60px;
        padding-left: 0;
        overflow: hidden;
        transition: width 0.5s ease-in-out, padding-left 0.5s ease-in-out;
       
      }
      
    .sidenav-closed .home-text, 
    .sidenav-closed .anime-text, 
    .sidenav-closed .catalog-text, 
    .sidenav-closed .announcement-text, 
    .sidenav-closed .top100-text, 
    .sidenav-closed .shuffle-text, 
    .sidenav-closed .community-text, 
    .sidenav-closed .community-text {
        /* display: none; */
       
        position: flex;
        font-size: 50%;
        margin-left: -44px;
        text-align: center;
        margin-top: 30px;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    }
    
    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        /* color: #f1f1f1; */
        background-color: rgba(0, 0, 0, 0.25);
        }
    
    /* Main content */
    .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }
    
    /* Add an active class to the active dropdown button */
    .active {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    }
    
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.23);
    /* padding-left: 8px; */
    }
    
    /* Optional: Style the caret down icon */
    .fa-caret-down {
    float: right;
    padding-right: 29px;
    }
    .theme-menu{
        position: fixed;
        bottom: 0;
        margin-bottom: 70px;
        margin-left: 7px;
        justify-content: space-between;

    }
    .theme-menu button{
        width: 40px;
        height: 40px;
        border: 2px solid rgba(255, 255, 255, .2);
        
        backdrop-filter: blur(20px);
        cursor: pointer;
        border-radius: 15px;
        
    }
    .city-fone{
        background-image: url("city-fone.jpeg");
        background-size: cover;
    }
    .streat-fone{
        background-image: url("streat-fone.jpg");
        background-size: cover;
    }
    .samurai-fone{
        background-image: url("samurai-fone.jpg");
        background-size: cover;
    }