/*  */
.books {
    width: 200px; 
    height: auto;
    margin-bottom: 30px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
    transition: transform 1s;
}

.books:hover{
    transform: scale(1.2);
}

.rate-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Отключает кликабельность */
}

/* Показать кнопку при наведении на изображение */
.books:hover .rate-btn {
    opacity: 1;
    pointer-events: auto; /* Включает кликабельность */
}

.btn-primary:focus {
    outline: none !important; /* Удаление обводки при фокусе */
    box-shadow: none !important; /* Удаление теней при фокусе */
}

#starRating .star {
    font-size: 24px;
    cursor: pointer;
    color: gray;
}
#starRating .star:hover {
    color: gold;
}



.bg-light-grey {
    background-color: lightgray;
    
}

.custom-margin {
    margin-bottom: 50px; /* Укажите нужное значение отступа */
}


@media (max-width: 768px) {
    .table th, .table td {
        font-size: 10px;
        padding: 5px;
    }
    /* .table td:nth-child(4), .table th:nth-child(4) {
        display: none;
    } */
}
