/*  */
.books {
    width: 200px; 
    height: auto;
    margin-bottom: 30px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
    transition: transform 1s;
}

.books:hover{
    transform: scale(1.2);
}

.btn-primary:focus {
    outline: none !important; /* Удаление обводки при фокусе */
    box-shadow: none !important; /* Удаление теней при фокусе */
}



.bg-light-grey {
    background-color: lightgray;
    
}

.custom-margin {
    margin-bottom: 50px; /* Укажите нужное значение отступа */
}


@media (max-width: 768px) {
    .table th, .table td {
        font-size: 10px;
        padding: 5px;
    }
    /* .table td:nth-child(4), .table th:nth-child(4) {
        display: none;
    } */
}
