*{
    padding: 0;
    margin: 0;
    
}
body{
    background: url("samurai-fone.jpg") no-repeat center center fixed;
    color: white;
    font-family: cursive;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
}

#AnimeWeb {
    display: flex;
    align-items: center;
}


.Logo a{
    /* display: flex; */
    /* position: fixed; */
    /* z-index: 2; */
    /* position:relative;
    vertical-align:center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 160px;
    height: 30px;
    margin-left: 60px;
    margin-top: 5px;
    padding: 7px;
    border-radius: 15px;
    top: 0; /* Добавлено значение top */
    cursor: pointer;  
    width: 160px;
    height: 30px;
    margin-left: 60px;
}

/* Icon sidenav - sidenav.closed */
#fold {
    background-color: transparent;
    z-index: 2;
    position: fixed;
    /* background-image: url(menu.png); */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    top: 0;
    margin-left: 10px;
    margin-top: 7px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    cursor: pointer;
    .menu-image{
        background: none;
        width: 30px;
        height: 30px;
        margin-top: 1px;
    }
}

#fold:hover {
    background-color: rgba(0, 0, 0, 0.25); /* Затемнение при наведении */
    
}

.login-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.login-button,
.register-button {
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.login-button {
    background-color: #4CAF50;
    color: white;
}

.register-button {
    background-color: #008CBA;
    color: white;
}



.container{
    max-width: 1200px;
    width: 95%;
    padding-top: 80px;
}

.image-info h3,
.image-info p,
.image-info hr.separator {
    color: white; /* Задайте цвет текста, который вы хотите использовать */
}

.container h1{
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    /* width: 50%; */
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%; 
    height: 75px;
    width: 50px;
    color: #fff;
    background: #000;
    border-radius: 15px;
    font-size: 2.2rem;
    cursor: pointer;
    border: none;
    outline: none;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover{
    background: #444;
}

.slider-wrapper .slide-button#prev-slide{
    left: -20px;
    display: none;
}
.slider-wrapper .slide-button#next-slide{
    right: -20px;
}

.slider-wrapper .image-list{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(10, 1fr);
    /* padding-top: 30px; */
    /* font-size: 0; */
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;

}

.slider-wrapper .image-list .image-item{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}

.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgba(255, 255, 255, .2);;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top:-2px;
    
}
.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:-10px;
    bottom: -10px    ;
}





/* Fixed sidenav, full height */
.sidenav {
    margin-top: 62px;
    height: 100%;
    width: 165px;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-top: 0px;
    border-left: 0px;
    backdrop-filter: blur(20px);
    overflow-x: hidden;
    /* padding-top: 50px; */
    position: fixed;
    transition: width 0.5s ease-in-out, padding-left 0.5s ease-in-out;
    }
    
.home-image, .anime-image, .catalog-image, .announcement-image, .top100-image, .shuffle-image, .community-image{
    height: 30px;
    width: 30px;
    position:relative;
    vertical-align:middle;
}


.home-text, .anime-text, .catalog-text, .announcement-text, .top100-text, .shuffle-text, .community-text{
    position:relative;
    vertical-align: middle;
}

    .sidenav-closed {
        width: 60px;
        padding-left: 0;
        overflow: hidden;
        transition: width 0.5s ease-in-out, padding-left 0.5s ease-in-out;
       
      }
      
    .sidenav-closed .home-text, 
    .sidenav-closed .anime-text, 
    .sidenav-closed .catalog-text, 
    .sidenav-closed .announcement-text, 
    .sidenav-closed .top100-text, 
    .sidenav-closed .shuffle-text, 
    .sidenav-closed .community-text, 
    .sidenav-closed .community-text {
        /* display: none; */
       
        position: flex;
        font-size: 50%;
        margin-left: -44px;
        text-align: center;
        margin-top: 30px;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    }
    
    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        /* color: #f1f1f1; */
        background-color: rgba(0, 0, 0, 0.25);
        }
    
    /* Main content */
    .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }
    
    /* Add an active class to the active dropdown button */
    .active {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    }
    
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.23);
    /* padding-left: 8px; */
    }
    
    /* Optional: Style the caret down icon */
    .fa-caret-down {
    float: right;
    padding-right: 29px;
    }
    .theme-menu{
        position: fixed;
        bottom: 0;
        margin-bottom: 70px;
        margin-left: 7px;
        justify-content: space-between;

    }
    .theme-menu button{
        width: 40px;
        height: 40px;
        border: 2px solid rgba(255, 255, 255, .2);
        
        backdrop-filter: blur(20px);
        cursor: pointer;
        border-radius: 15px;
        
    }
    .city-fone{
        background-image: url("city-fone.jpeg");
        background-size: cover;
    }
    .streat-fone{
        background-image: url("streat-fone.jpg");
        background-size: cover;
    }
    .samurai-fone{
        background-image: url("samurai-fone.jpg");
        background-size: cover;
    }